
  .contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .botonInicio {
    width: auto;  
    padding: 70px 78px;  
    font-size: 16px;  
  }
  